:root {--mavi: #6bc1f1;}
.bg-mavi {background-color: #6bc1f1;}
.bg-silver{background-color: #f1f1f1;}
.bg-footer{background-color: #072035;}
.text-mavi{color: #6bc1f1;}
.min-vh-50{min-height: 50vh;}
.min-w{min-width: 320px;}
.bgf1:hover{opacity: 0.6 ; }
.bgf2:hover{opacity: 0.6;}
.bgf1:hover h5, .bgf2:hover h5{display: block!important;}
 header{background: url(img/headerbg.jpg) 58%/cover;}
.bgf1{background: url(img/f1.jpg) center/cover;}
.bgf2{background: url(img/f2.jpg) center/cover;}




